body {
    overflow:hidden;
    margin:0px;
    }
.bgw {
      background-color:white;
    }
.robotable {
    background-color:#efefef;
    position:absolute;
    left:100px;
    top:130px;
    z-index:3;
    border-top:solid 1px ##D9D9D9;
    border-left:solid 1px #D9D9D9;
    opacity:.9;
  }

  .robo {
    z-index:5;
    opacity:1;
  }
  
  input {
    z-index:3;
  }

  .bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.heading{
    margin:auto auto;
    color:white;
    font-size:50px;
    font-family:arial;
    z-index:3;
    width:700px;
    position:absolute;
    top:20px;
    text-align: center;
    display:none;
}

.howto{
    font-size:20px;
    font-family:arial;
    z-index:3;
    display:none;
}
.warning{
    margin:auto auto;
    text-align: center;
    font-size:30px;
    font-family:arial;
    z-index:12;
    display:none;
    color:white;
    position:absolute;
    bottom:5px;
    width:700;
}
.warning span {
    background-color:black;
    padding:2px;
}
.startBtn{
    position:absolute;
    top:50px;
    left:200px;
    font-size:40px;
    width:300px;
    border-radius:10px;
}
.blcover {
    position:absolute;
    height:100%;
    width:100%;
    left:700px;
    z-index:12;
    color:white;
    background-color:#444;
    padding:50px;
}
.report {
    margin-top:150px;
    width:40%;
    color:white;
    font-family:arial;
    text-align: left;
    font-size:70px;
}

.gX, .gY, .gFace {
    width:40%;
    color:white;
    font-family:arial;
    text-align: left;
    font-size:20px;
    margin-left:40px;
}
.yellow {
    color:yellow;
}
h1 {

    font-family:arial;
}
.playBtn {
    font-size:30px;
    margin-top:35x;
    border-radius: 10px;
    position: relative;
    background-color:rgb(196, 218, 250);
}
.introContainer {
    display: grid;
    grid-template-columns: 250px 250px;
}
.col {
    width:85%;
}
.ind {
    margin-left:100px;
}
.ind1 {
    margin-left:50px;
    margin-top:20px;
}
.poshome {
    position:absolute;
    top:10px;
    right:10px;
    width:50px;
    height:50px;
    z-index:15;
    color:#ccc;
    font-size:40px;
    cursor: pointer;
}
.instructions{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    line-height:2;
}
.none {
    display:none;
}